<div class = "row">
  <div class="col-md-3">
    <h2>
      Lol2
    </h2>
  </div>
  <div class="col-md-3">
    <button style="margin-top:20px" class="btn btn-default" ng-click="createVibration()">Create vibration</button>
  </div>
  <div class="col-md-3">    
    <button style="margin-top:20px" class="btn btn-default" ng-click="deleteVibrations()">Delete all vibrations</button>
    
  </div>
  <div class="col-md-3">
    <p>
      <label>Intensite</label> 
      <input id="intensite" class="form-control" type="number" min="0" max="5" ng-model="vibration.val">
    </p>
    <button style="margin-top:20px" class="btn btn-default" ng-click="findVibrations(vibration)">Search corresponding vibrations</button>
  </div>
</div>
<div class="container">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="vibration in vibrations | orderBy:'_id'">
        <td>
          {{vibration._id}} {{vibration.date}} {{vibration.lat}} {{vibration.lng}} {{vibration.val}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
