body  {
    padding-top: 63px;
}

.map-size {
    width: 100%;
    height: 89vh;
}

.footer {
    height: 50px;
    color: grey;
    vertical-align: middle;
    text-align: right;
    padding-top: 20px;
}

/*permet aux boutons "Afficher/Masquer bouton de rester à la même position"*/
.marginless {
    margin-top: 0 !important;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}  
