body  {
    padding-top: 63px;
}

.map-size {
    width: 100%;
    height: 87vh;
}

.footer {
    height: 30px;
    color: grey;
    vertical-align: middle;
    text-align: right;
    padding-top: 16px;
}

/*permet aux boutons "Afficher/Masquer bouton de rester à la même position"*/
.marginless {
    margin-top: 0 !important;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@media screen and (max-width: 768px) {
    .information, .potholess {
        margin-right: auto;
        margin-left: auto;
        float: none;
    }
    body  {
        padding-top: 116px;
    }
}

.information, .potholess{
    width: 115px;
}

span.glyphicon-question-sign {
    font-size: 1.3em;
    top: 3px;
}

a.information:focus {
    outline: none;
    color: #777!important;
}

a.information:hover {
    outline: none;
    color: #333!important;
}

.btn:focus {
    outline: none;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
